{% extends "base.html" %}

{% block content %}
    <form action="/resposta" method="POST" enctype="multipart/form-data">
        <div class="form-group col-lg-8 offset-lg-2">
            <p class="lead mt-4">Limite de limiarização:</p><input type="text" class="form-control-file" name="limite" id="limite" style="width: 10%">
            <p class="lead mt-4">Imagem em qualquer formato:</p><input type="file" class="form-control-file mb-4" name="imagem" id="imagem">
            <button type="submit" class="btn btn-primary mt-4">Confirmar</button>
        </div>
    </form>
{% endblock %}
